.VT {
    height: 200px;
   }
   .fundo{
       --ion-background-color: black;
       --ion-text-color: white;
       color: white;
       text-align: left;
     
     }
     
     .rating {
         display: inline-block;
       }
       
       .star {
         font-size: 30px;
         color: gold;
       }
       
       .no-color {
         color: transparent;
       }
     
       #img1{
         display: block;
         margin-left: auto;
         margin-right: auto
       }
     
       .BT{
         margin-left: 280px;
         color: rgb(255, 255, 255);
        
         border-radius: 20px
       }
     
       .estrelinhas{
         color: yellow;
        padding-left: 10px;
        }
     
       .estrelinhas2{
        color: yellow;
        margin-left: 20px;
       }
       
       .estrelinhas3{
         color: yellow;
         margin-left: 20px;
        }
     
        .Abertoapartir{
         font-size: 10px;
         margin-left: 190px;
        }
     
        .N1{
         font-size: 13px;
         margin-left: 20px;
        }
        .PA{
         margin-left: 16px;
        }
     
        .P2{
         margin-left: 16px;
         font-size: 15px;
        }
        .endereco{
         padding: 16px;
         font-size: 15px;
         }
        .Pontuações{
         padding: 16px;
         }
     
       .preco{
         margin-top: 10px;
         font-size: 15px;
         display: flex;
         margin-left: 320px;
       }
       
       .nome1{  
         margin-top: 15px; 
         margin-left: 10px;
         padding: 10px;
         margin-bottom: -5px;
       }
       .DT{  
         font-size: 25px;
         padding: 15px;
       }
       
       .detalhes{  
         padding: 20px;
       }
       
       .Cadastro{  
         padding: 1px;
       }
       
       #img2{
         display: block;
         margin-left: auto;
         margin-right: auto
       }
     
       .final{
         margin-left: 10px;
       }
     
       .final3{
        padding: 10px;
       }
     
       .WP{
           padding: 10px;
           
          }
     
       
      
     